# Titanic Survival Prediction

## Importing the libraries

In [436]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the training dataset

In [437]:
trainingDF = pd.read_csv("..\\Datasets\\train.csv", encoding = "utf-8", low_memory = False)

print(trainingDF.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

## Importing the test dataset

In [438]:
testingDF = pd.read_csv("..\\Datasets\\test.csv", encoding = "utf-8", low_memory = False)

print(testingDF.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

## Number of NULL values in the training dataset

In [439]:
print(trainingDF.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Number of NULL values in the testing dataset

In [440]:
print(testingDF.isna().sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Storing 'PassengerId' of testing dataset for later using

In [441]:
testingDFPassengerId = testingDF["PassengerId"].values

## Cleaning the training dataset

In [442]:
trainingDF = trainingDF.drop(["PassengerId", "Name", "Ticket", "Fare", "Cabin"], axis = 1)

print(trainingDF)

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0           0       3    male  22.0      1      0        S
1           1       1  female  38.0      1      0        C
2           1       3  female  26.0      0      0        S
3           1       1  female  35.0      1      0        S
4           0       3    male  35.0      0      0        S
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0        S
887         1       1  female  19.0      0      0        S
888         0       3  female   NaN      1      2        S
889         1       1    male  26.0      0      0        C
890         0       3    male  32.0      0      0        Q

[891 rows x 7 columns]

## Cleaning the testing dataset

In [443]:
testingDF = testingDF.drop(["PassengerId", "Name", "Ticket", "Fare", "Cabin"], axis = 1)

print(testingDF)

     Pclass     Sex   Age  SibSp  Parch Embarked
0         3    male  34.5      0      0        Q
1         3  female  47.0      1      0        S
2         2    male  62.0      0      0        Q
3         3    male  27.0      0      0        S
4         3  female  22.0      1      1        S
..      ...     ...   ...    ...    ...      ...
413       3    male   NaN      0      0        S
414       1  female  39.0      0      0        C
415       3    male  38.5      0      0        S
416       3    male   NaN      0      0        S
417       3    male   NaN      1      1        C

[418 rows x 6 columns]

## Imputing NULL values in training dataset

In [444]:
from sklearn.impute import SimpleImputer

categoricalImputer = SimpleImputer(missing_values = np.nan, strategy = "most_frequent")
numericalImputer = SimpleImputer(missing_values = np.nan, strategy = "mean")

trainingDF["Age"] = numericalImputer.fit_transform(trainingDF["Age"].values.reshape(-1, 1)).flatten()
# trainingDF["Cabin"] = categoricalImputer.fit_transform(trainingDF["Cabin"].values.reshape(-1, 1)).flatten()
trainingDF["Embarked"] = categoricalImputer.fit_transform(trainingDF["Embarked"].values.reshape(-1, 1)).flatten()

## Imputing NULL values in testing dataset

In [445]:
from sklearn.impute import SimpleImputer

categoricalImputer = SimpleImputer(missing_values = np.nan, strategy = "most_frequent")
numericalImputer = SimpleImputer(missing_values = np.nan, strategy = "mean")

testingDF["Age"] = numericalImputer.fit_transform(testingDF["Age"].values.reshape(-1, 1)).flatten()
# testingDF["Cabin"] = categoricalImputer.fit_transform(testingDF["Cabin"].values.reshape(-1, 1)).flatten()

## Check for null values in training and testing datasets

In [446]:
print(trainingDF.isna().sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [447]:
print(testingDF.isna().sum())

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

## Splitting the features and target variables from training dataset

In [448]:
x_train = trainingDF.iloc[:, 1:].values
y_train = trainingDF.iloc[:, 0].values

In [449]:
print(x_train)

[[3 'male' 22.0 1 0 'S']
 [1 'female' 38.0 1 0 'C']
 [3 'female' 26.0 0 0 'S']
 ...
 [3 'female' 29.69911764705882 1 2 'S']
 [1 'male' 26.0 0 0 'C']
 [3 'male' 32.0 0 0 'Q']]

In [450]:
print(y_train)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

## Converting features to training dataset to numpy array

In [451]:
x_test = testingDF.values

In [452]:
print(x_test)

[[3 'male' 34.5 0 0 'Q']
 [3 'female' 47.0 1 0 'S']
 [2 'male' 62.0 0 0 'Q']
 ...
 [3 'male' 38.5 0 0 'S']
 [3 'male' 30.272590361445783 0 0 'S']
 [3 'male' 30.272590361445783 1 1 'C']]

## Label encoding Sex column in training dataset

In [453]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
x_train[:, 1] = le.fit_transform(x_train[:, 1])

In [454]:
print(x_train)

[[3 1 22.0 1 0 'S']
 [1 0 38.0 1 0 'C']
 [3 0 26.0 0 0 'S']
 ...
 [3 0 29.69911764705882 1 2 'S']
 [1 1 26.0 0 0 'C']
 [3 1 32.0 0 0 'Q']]

## Label encoding Sex column in testing dataset

In [455]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
x_test[:, 1] = le.fit_transform(x_test[:, 1])

In [456]:
print(x_test)

[[3 1 34.5 0 0 'Q']
 [3 0 47.0 1 0 'S']
 [2 1 62.0 0 0 'Q']
 ...
 [3 1 38.5 0 0 'S']
 [3 1 30.272590361445783 0 0 'S']
 [3 1 30.272590361445783 1 1 'C']]

## One-Hot Encoding the Cabin and Embarked columns in training dataset

In [457]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers = [("encoder_embarked", OneHotEncoder(), [5])], remainder = "passthrough")
x_train = np.array(ct.fit_transform(x_train))

# x_train = x_train.toarray()

In [458]:
print(x_train)

[[0.0 0.0 1.0 ... 22.0 1 0]
 [1.0 0.0 0.0 ... 38.0 1 0]
 [0.0 0.0 1.0 ... 26.0 0 0]
 ...
 [0.0 0.0 1.0 ... 29.69911764705882 1 2]
 [1.0 0.0 0.0 ... 26.0 0 0]
 [0.0 1.0 0.0 ... 32.0 0 0]]

## One-Hot Encoding the Cabin and Embarked columns in testing dataset

In [459]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers = [("encoder_embarked", OneHotEncoder(), [5])], remainder = "passthrough")
x_test = np.array(ct.fit_transform(x_test))

# x_test = x_test.toarray()

In [460]:
print(x_test)

[[0.0 1.0 0.0 ... 34.5 0 0]
 [0.0 0.0 1.0 ... 47.0 1 0]
 [0.0 1.0 0.0 ... 62.0 0 0]
 ...
 [0.0 0.0 1.0 ... 38.5 0 0]
 [0.0 0.0 1.0 ... 30.272590361445783 0 0]
 [1.0 0.0 0.0 ... 30.272590361445783 1 1]]

## Logistic Regression

### Training the Logistic Regression model on the training dataset

In [461]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(random_state = 42)
classifier.fit(x_train, y_train)

C:\Users\MVIKRAMS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

### Predicting the testing dataset values

In [462]:
y_pred = classifier.predict(x_test)

In [463]:
print(y_pred)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

## Dump result to CSV file

In [467]:
result = np.concatenate((testingDFPassengerId.reshape(len(testingDFPassengerId), 1), y_pred.reshape(len(y_pred), 1)), 1)

print(result)

[[ 892    0]
 [ 893    0]
 [ 894    0]
 [ 895    0]
 [ 896    1]
 [ 897    0]
 [ 898    1]
 [ 899    0]
 [ 900    1]
 [ 901    0]
 [ 902    0]
 [ 903    0]
 [ 904    1]
 [ 905    0]
 [ 906    1]
 [ 907    1]
 [ 908    0]
 [ 909    0]
 [ 910    1]
 [ 911    1]
 [ 912    0]
 [ 913    0]
 [ 914    1]
 [ 915    1]
 [ 916    1]
 [ 917    0]
 [ 918    1]
 [ 919    0]
 [ 920    0]
 [ 921    0]
 [ 922    0]
 [ 923    0]
 [ 924    0]
 [ 925    0]
 [ 926    1]
 [ 927    0]
 [ 928    1]
 [ 929    1]
 [ 930    0]
 [ 931    0]
 [ 932    0]
 [ 933    0]
 [ 934    0]
 [ 935    1]
 [ 936    1]
 [ 937    0]
 [ 938    0]
 [ 939    0]
 [ 940    1]
 [ 941    0]
 [ 942    0]
 [ 943    0]
 [ 944    1]
 [ 945    1]
 [ 946    0]
 [ 947    0]
 [ 948    0]
 [ 949    0]
 [ 950    0]
 [ 951    1]
 [ 952    0]
 [ 953    0]
 [ 954    0]
 [ 955    1]
 [ 956    1]
 [ 957    1]
 [ 958    1]
 [ 959    0]
 [ 960    1]
 [ 961    1]
 [ 962    1]
 [ 963    0]
 [ 964    1]
 [ 965    1]
 [ 966    1]
 [ 967    1]
 [ 968    0]
 [ 969    1]
 [ 970    0]
 [ 971    1]
 [ 972    0]
 [ 973    0]
 [ 974    0]
 [ 975    0]
 [ 976    0]
 [ 977    0]
 [ 978    1]
 [ 979    1]
 [ 980    1]
 [ 981    0]
 [ 982    1]
 [ 983    0]
 [ 984    1]
 [ 985    0]
 [ 986    1]
 [ 987    0]
 [ 988    1]
 [ 989    0]
 [ 990    1]
 [ 991    0]
 [ 992    1]
 [ 993    0]
 [ 994    0]
 [ 995    0]
 [ 996    1]
 [ 997    0]
 [ 998    0]
 [ 999    0]
 [1000    0]
 [1001    0]
 [1002    0]
 [1003    1]
 [1004    1]
 [1005    1]
 [1006    1]
 [1007    0]
 [1008    0]
 [1009    1]
 [1010    1]
 [1011    1]
 [1012    1]
 [1013    0]
 [1014    1]
 [1015    0]
 [1016    0]
 [1017    1]
 [1018    0]
 [1019    1]
 [1020    0]
 [1021    0]
 [1022    0]
 [1023    0]
 [1024    1]
 [1025    0]
 [1026    0]
 [1027    0]
 [1028    0]
 [1029    0]
 [1030    1]
 [1031    0]
 [1032    0]
 [1033    1]
 [1034    0]
 [1035    0]
 [1036    0]
 [1037    0]
 [1038    0]
 [1039    0]
 [1040    0]
 [1041    0]
 [1042    1]
 [1043    0]
 [1044    0]
 [1045    0]
 [1046    0]
 [1047    0]
 [1048    1]
 [1049    1]
 [1050    0]
 [1051    1]
 [1052    1]
 [1053    0]
 [1054    1]
 [1055    0]
 [1056    0]
 [1057    1]
 [1058    0]
 [1059    0]
 [1060    1]
 [1061    1]
 [1062    0]
 [1063    0]
 [1064    0]
 [1065    0]
 [1066    0]
 [1067    1]
 [1068    1]
 [1069    0]
 [1070    1]
 [1071    1]
 [1072    0]
 [1073    0]
 [1074    1]
 [1075    0]
 [1076    1]
 [1077    0]
 [1078    1]
 [1079    0]
 [1080    0]
 [1081    0]
 [1082    0]
 [1083    0]
 [1084    0]
 [1085    0]
 [1086    0]
 [1087    0]
 [1088    1]
 [1089    1]
 [1090    0]
 [1091    1]
 [1092    1]
 [1093    0]
 [1094    0]
 [1095    1]
 [1096    0]
 [1097    1]
 [1098    1]
 [1099    0]
 [1100    1]
 [1101    0]
 [1102    0]
 [1103    0]
 [1104    0]
 [1105    0]
 [1106    0]
 [1107    0]
 [1108    1]
 [1109    0]
 [1110    1]
 [1111    0]
 [1112    1]
 [1113    0]
 [1114    1]
 [1115    0]
 [1116    1]
 [1117    1]
 [1118    0]
 [1119    1]
 [1120    0]
 [1121    0]
 [1122    0]
 [1123    1]
 [1124    0]
 [1125    0]
 [1126    0]
 [1127    0]
 [1128    0]
 [1129    0]
 [1130    1]
 [1131    1]
 [1132    1]
 [1133    1]
 [1134    0]
 [1135    0]
 [1136    0]
 [1137    0]
 [1138    1]
 [1139    0]
 [1140    1]
 [1141    1]
 [1142    1]
 [1143    0]
 [1144    1]
 [1145    0]
 [1146    0]
 [1147    0]
 [1148    0]
 [1149    0]
 [1150    1]
 [1151    0]
 [1152    0]
 [1153    0]
 [1154    1]
 [1155    1]
 [1156    0]
 [1157    0]
 [1158    0]
 [1159    0]
 [1160    1]
 [1161    0]
 [1162    0]
 [1163    0]
 [1164    1]
 [1165    1]
 [1166    0]
 [1167    1]
 [1168    0]
 [1169    0]
 [1170    0]
 [1171    0]
 [1172    1]
 [1173    0]
 [1174    1]
 [1175    1]
 [1176    1]
 [1177    0]
 [1178    0]
 [1179    0]
 [1180    0]
 [1181    0]
 [1182    0]
 [1183    1]
 [1184    0]
 [1185    0]
 [1186    0]
 [1187    0]
 [1188    1]
 [1189    0]
 [1190    0]
 [1191    0]
 [1192    0]
 [1193    0]
 [1194    0]
 [1195    0]
 [1196    1]
 [1197    1]
 [1198    0]
 [1199    0]
 [1200    0]
 [1201    0]
 [1202    0]
 [1203    0]
 [1204    0]
 [1205    1]
 [1206    1]
 [1207    1]
 [1208    0]
 [1209    0]
 [1210    0]
 [1211    0]
 [1212    0]
 [1213    0]
 [1214    0]
 [1215    0]
 [1216    1]
 [1217    0]
 [1218    1]
 [1219    0]
 [1220    0]
 [1221    0]
 [1222    1]
 [1223    1]
 [1224    0]
 [1225    1]
 [1226    0]
 [1227    0]
 [1228    0]
 [1229    0]
 [1230    0]
 [1231    0]
 [1232    0]
 [1233    0]
 [1234    0]
 [1235    1]
 [1236    0]
 [1237    1]
 [1238    0]
 [1239    1]
 [1240    0]
 [1241    1]
 [1242    1]
 [1243    0]
 [1244    0]
 [1245    0]
 [1246    1]
 [1247    0]
 [1248    1]
 [1249    0]
 [1250    0]
 [1251    0]
 [1252    0]
 [1253    1]
 [1254    1]
 [1255    0]
 [1256    1]
 [1257    0]
 [1258    0]
 [1259    1]
 [1260    1]
 [1261    0]
 [1262    0]
 [1263    1]
 [1264    0]
 [1265    0]
 [1266    1]
 [1267    1]
 [1268    0]
 [1269    0]
 [1270    0]
 [1271    0]
 [1272    0]
 [1273    0]
 [1274    1]
 [1275    1]
 [1276    0]
 [1277    1]
 [1278    0]
 [1279    0]
 [1280    0]
 [1281    0]
 [1282    1]
 [1283    1]
 [1284    0]
 [1285    0]
 [1286    0]
 [1287    1]
 [1288    0]
 [1289    1]
 [1290    0]
 [1291    0]
 [1292    1]
 [1293    0]
 [1294    1]
 [1295    1]
 [1296    0]
 [1297    0]
 [1298    0]
 [1299    0]
 [1300    1]
 [1301    1]
 [1302    1]
 [1303    1]
 [1304    1]
 [1305    0]
 [1306    1]
 [1307    0]
 [1308    0]
 [1309    0]]

In [468]:
resultDF = pd.DataFrame(result, columns = ["PassengerId", "Survived"])

In [476]:
print(resultDF)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [478]:
resultDF.to_csv("..\\Datasets\\survived_solution.csv", index = False)